.footer-container {
  display: grid;
  min-height: fit-content;
}
.footerArea {
  display: grid;
  max-width: 65rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-area: footer;
  grid-column: 1 / 2;
}
.footer-container {
  display: grid;
  max-width: 65rem;

  grid-template-columns: (auto-fit, minmax(800px, 1fr));
  grid-template-rows: 5rem;
}

.doormatNav {
  grid-column: 2/3;
}

.contacts {
  color: black;
  display: flex;
  flex-direction: column;
}

.socialLinks {
  grid-column: 4/5;
}
.social {
  display: flex;
  flex-direction: column;
}
