body {
  font-family: "Markazi Text", serif;
  color: var(--color-black);
  line-height: 1.7;
  margin: 0 auto;
  font-size: 1.4rem;
  display: grid;
  grid-template-areas:
    "header header header"
    " main"
    "footer footer footer";
}
.container {
  max-width: 90%;
  margin: 0 auto;
  min-height: fit-content;
  /* min-height: 50vh; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  margin: 10px 0;
}
p {
  color: var(--color-black);
  line-height: 1.5;
  margin: 10px 0;
  font-size: 1rem;
}
/* section title */
h2{
  font-size: 1.25rem;
  font-weight: bold;
}